env
.idea
backend/db.*
backend/media
backend/api/migrations
backend/.env
**/__pycache__/
neo4j
backend/api/async_tasks.py
node_modules/
package-lock.json
package.json
frontend/src/components/Workflow_backup.tsx