@import "tailwindcss";

.react-flow__controls button {
  color: #ffffff !important;
  background-color: transparent !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 6px !important;
  border: 2px solid #ffffff !important;
}

.overflow-y-auto {
  scroll-behavior: smooth;
}

textarea {
  line-height: 1.25rem; /* Match this with your design system */
}